AI Video Generator.json
{
  "name": "AI Video Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate VIdeo Konten Otomatis",
        "formDescription": "Isi informasi di bawah ini untuk memulai proses generate video",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "task_type",
              "requiredField": true
            },
            {
              "fieldLabel": "API Key",
              "requiredField": true
            },
            {
              "fieldLabel": "img_url",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -80,
        -240
      ],
      "id": "9622e101-d89a-4777-ba6a-3e14f8d46152",
      "name": "Submit Text Prompt",
      "webhookId": "1e3cdfc2-1083-4a8a-ae20-2333b0336cc3"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Mengirim Video Generation Request').first().json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Submit Text Prompt').first().json['API Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -304
      ],
      "id": "74f8ebed-dc23-4afc-a83e-dc3be9d605e6",
      "name": "Mendapatkan Status Generate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        -240
      ],
      "id": "1b2376e7-dbb5-4980-91a0-2a24cf601c66",
      "name": "Check Jika Generate Sudah Selesai"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json['API Key'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{ $json.img_url }}\"\n    ],\n    \"prompt\": \"{{ $json.Prompt }}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -240
      ],
      "id": "b02c56d1-2070-417b-9bcd-80aefa40714c",
      "name": "Mengirim Video Generation Request"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        -240
      ],
      "id": "51bb7ad2-3032-4eb5-bb5b-334bcf9c2031",
      "name": "Menunggu Proses Generate Video",
      "webhookId": "wait-node-001"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -240
      ],
      "id": "3f253139-af0b-4995-b10a-37db08ddc27d",
      "name": "Download Video"
    },
    {
      "parameters": {
        "jsCode": "const result =  JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -240
      ],
      "id": "874f9348-1ba5-49c4-bb7e-3373127a7d1c",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cbROVsVr70Fq0J_61rCubTVURgj5oCrN",
          "mode": "list",
          "cachedResultName": "Hasil Topik 2 dan 3",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cbROVsVr70Fq0J_61rCubTVURgj5oCrN"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        -240
      ],
      "id": "51b7bb01-d9ea-4cb1-828c-bc2f408f3e92",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WohwWQdpwZSXUHnL",
          "name": "Tugas 1 Video Generator AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Text Prompt": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Video Generation Request": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Video": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6ed05e6d-dbb2-47db-8f99-b0821be90a6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7762260969ce1b1f607bc86cdcbb8007b0ded25e792ccdc3c7592b5a1230f59"
  },
  "id": "ElBW5aUICwcze2ke",
  "tags": []
}